.carousel-inner .carousel-item {
    position: relative;
  }
  
  .carousel-inner .carousel-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
  }
  
  .carousel-inner .carousel-item img {
    height: 700%;
    object-fit: cover;
    z-index: -1;
  }
  
  .carousel-caption {
    z-index: 1;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 40%;
  }
  
  .carousel-caption h2 {
    color: #e50914;
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    border-radius: 25px;
    padding: 7px 20px;
    background-size: auto 100%;
  }
  
  
  .carousel-caption p {
    color: #fff;
  }
  
  .carousel-banner-caption {
    text-align: left;
  }
  